
.change-modal{
  position: relative;
  margin: 0 auto;
  width: 142px;

  .logo-con {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 62px;
    font-size: 18px;
    text-align: left;

    .logo-img {
      height: 44px;
      width: auto;
      display: block;
    }
    .light-logo{
      height: 30px;
      width: auto;
      display: block;

    }
    .min-pic{
     margin-left: -78px;
    }
    .down-arrow{
      margin-top: 10px;
      margin-left: 10px;
      width: 20px;
      height: 14px;
      box-sizing: border-box;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 10px;
      background: url('../../assets/images/icon-up.png') no-repeat;
      background-position: 5px 4px;
      background-size: 8px 5px;
    }
    .light-arrow{
      margin: 3px 8px;
      width: 15px;
      height: 14px;
      box-sizing: border-box;
      background: url('../../assets/images/icon-up2.png') no-repeat;
      background-position: 0px 4px;
      background-size: 15px 8px;
    }
  }

  .modal-show{
    -moz-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }

  .modals{
    position: absolute;
    top: 60px;
    left: -57px;
    width: 255px;
    height: auto;
    padding: 10px;
    z-index: 1200;
    background-color: #000E1B;

    .partItem{
      margin: 5px 0;;
    }
    .col-title{
      padding-left: 10px;
      line-height: 34px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }
    .card-list{
      display: flex;
      flex-wrap: wrap;

      .per-card{
        cursor: pointer;
        width: 58px;
        height: auto;
        margin: 0 10px 6px 10px;

        .imgs{
          width: 58px;
          height: 58px;
          background-color: aquamarine;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 46px;
            height: 46px;
          }
        }

        .module-icon {
          width: 58px;
          height: 58px;
        }

        .module-name {
          color:rgba(255, 255, 255, 0.7);
          line-height: 18px;
          font-size: 14px;
          text-align: center;
        }
        &:hover .module-name{
          color:rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
  
  .light-modals{
    left: -20px;
    background-color: #fff;
    box-shadow: 0 0 8px 2px rgb(231, 229, 229);

    .col-title{
      color:rgba(26, 26, 26, 0.9);
    }
    .card-list .per-card{
      .module-name {
        color:rgba(26, 26, 26, 0.7);
      }
      &:hover .module-name{
        color:rgba(26, 26, 26, 0.9);
      }
    }
  }
  .dark-modals{}
}

.light-wrap{
  width: 170px;
}

.change-modal .elementToFadeInAndOut {
  display: none;
  // -webkit-animation: fadout 0.3s linear forwards;
  // animation: fadout 0.3s linear forwards;
}

@-webkit-keyframes fadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.change-modal:hover {
  .down-arrow,
  .light-arrow{
    -moz-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
  .elementToFadeInAndOut {
    display: block;
    // -webkit-animation: fadein 0.3s linear forwards;
    // animation: fadein 0.3s linear forwards;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

