
.change-modal{
  position: relative;

  .logo-con {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 62px;
    font-size: 18px;
    color: #fff;
    text-align: left;

    .logo-img {
      height: 44px;
      width: auto;
      display: block;
    }
    .down-arrow{
      margin-top: 10px;
      margin-left: 10px;
      width: 20px;
      height: 14px;
      box-sizing: border-box;
      color: #fff;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 10px;
      background: url('../../assets/images/icon-up.png') no-repeat;
      background-position: 5px 4px;
      background-size: 8px 5px;
    }
  }

  .modal-show{
    -moz-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }

  .modals{
    position: absolute;
    top: 60px;
    left: -57px;
    width: 255px;
    height: auto;
    padding: 30px 10px 20px;
    z-index: 1200;
    background-color: #000E1B;
    display: flex;
    flex-wrap: wrap;

    .per-card{
      cursor: pointer;
      width: 58px;
      height: auto;
      margin: 0 10px 6px 10px;

      .imgs{
        width: 58px;
        height: 58px;
        background-color: aquamarine;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 46px;
          height: 46px;
        }
      }

      .module-name {
        color:rgba(255, 255, 255, 0.7);
        line-height: 17px;
        padding: 8px 0;
        font-size: 14px;
        text-align: center;

        
      }
      &:hover .module-name{
        color:rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.change-modal .elementToFadeInAndOut {
  -webkit-animation: fadout 0.4s linear forwards;
  animation: fadout 0.4s linear forwards;
}

@-webkit-keyframes fadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.change-modal:hover {
  .down-arrow{
    -moz-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
  .elementToFadeInAndOut {
  -webkit-animation: fadein 0.4s linear forwards;
  animation: fadein 0.4s linear forwards;
}}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

